@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.logo {
  height: 6rem;
  padding: 1.5rem;
  will-change: filter;
  animation: spin infinite 20s linear;
}
